<div class="table-container">
  <h2>Job Listings</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Min Salary</th>
        <th>Max Salary</th>
        <th>Location</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of paginatedJobs">
        <td>{{ job.id }}</td>
        <td>{{ job.title }}</td>
        <td>{{ job.desc }}</td>
        <td>{{ job.minSalary }}</td>
        <td>{{ job.maxSalary }}</td>
        <td>{{ job.location }}</td>
        <td>
           <button  class="btn-apply"  >Apply for this role</button>
         </td>
      </tr>
    </tbody>
  </table>
 <div class="pagination">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Prev</button>

    <span>Page {{ currentPage }} of {{ totalPages }}</span>

    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
<div class="button-container">
    <button  class="btn-apply" (click)="onAddJob()" >Add Job</button>
</div>
