<form (ngSubmit)="onSubmit()" #jobForm="ngForm" class="job-form">

  <label for="id">ID:</label>
  <input type="number" id="id" [(ngModel)]="job.id" name="id" placeholder="Job ID" required />

  <label for="title">Job Title:</label>
  <input type="text" id="title" [(ngModel)]="job.title" name="title" placeholder="Job Title" required />

  <label for="description">Description:</label>
  <textarea id="description" [(ngModel)]="job.desc" name="description" placeholder="Job Description" required></textarea>

  <label for="minSalary">Minimum Salary:</label>
  <input type="text" id="minSalary" [(ngModel)]="job.minSalary" name="minSalary" placeholder="Min Salary" required />

  <label for="maxSalary">Maximum Salary:</label>
  <input type="text" id="maxSalary" [(ngModel)]="job.maxSalary" name="maxSalary" placeholder="Max Salary" required />

  <label for="location">Location:</label>
  <input type="text" id="location" [(ngModel)]="job.location" name="location" placeholder="Location" required />

  <label for="company">Company:</label>
  <input type="text" id="company" [(ngModel)]="job.company" name="company" placeholder="Company Name" required />

  <button type="submit" [disabled]="!jobForm.form.valid">Submit</button>

</form>
